html{
  height: 100%;
  font: 500 18px/1.8 "Lato", sans-serif;
}

form {
  text-align: center;
}

input {
  font-size: 28px;
  padding: 5px 15px;
}

input[type='submit'] {
  border-width: 1px;
}

h1 {
  font-weight: Black 900;
  font-size: 50px;
  font-family: 'Source Serif Pro', serif;
}

a {
  text-decoration: none;
  padding: 6px 35px;
}

strong {
  color: #74f07b;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.shadow_box {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius:5pt
  /*background-color:rgb(255, 255, 255);*/
}

.roundrect {
border-radius: 15px;
}

/* relevant styles */
.img__wrap {
  position: relative;
  height: 400px;
  width: 400px;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(35, 31, 32, 0.8);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
  font-size: 20px;
  font-family:'Cousine', monospace;
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

.bg {
  /* The image used */
  background-image: url("https://source.unsplash.com/featured/1920x1080/");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}